<% content_for :page_stylesheets do %>
  <%= stylesheet_link_tag 'index_view', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<main class="main_page">
  <section>
    <ul>
      <% @my_users.each do |user| %>
        <%= link_to user_path(user), class: 'link' do %>
          <li>
            <%= image_tag(user.photo, class: 'user_photo') %>
            <div class="info_block">
              <h1 class="user_name"><%= (user.name) %></h1>
              <p class="post_number">Number of posts: <%= user.number_of_post %></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>  
  </section>
</main>