<% content_for :page_stylesheets do %>
  <%= stylesheet_link_tag 'show_post', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<main>
<section>
    <ul>
      <% @user.posts.includes([:comments]).each do |post| %>
        <%= link_to user_post_path(user_id: post.author_id, id: post.id), class:'link' do %>
          <li class="post_block">
           <p class="post_index">Post #<%= (post.id) %> by #<%= (@user.name) %></p>
            <div class="box_l_c l_c_s_p">
              <span>Comments: <%= post.comments_counter %></span>
              <span>Likes: <%= post.likes_counter %></span>
            </div>
            <h3 class="post_title"><%= post.title %></h3>
            <h4 class="post_text"><%= post.text %></h4>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section> 
</main>